<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.generict.shoppingwithfriends" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".LoginRegistrationActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginPageActivity"
            android:label="@string/title_activity_login_page" >
        </activity>
        <activity
            android:name=".ApplicationHomeActivity"
            android:label="@string/title_activity_application_home" >
        </activity>
        <activity
            android:name=".RegistrationPageActivity"
            android:label="@string/title_activity_registration_page"
            android:parentActivityName=".LoginRegistrationActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.generict.shoppingwithfriends.LoginRegistrationActivity" />
        </activity>
    </application>

</manifest>
