<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.generict.shoppingwithfriends" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <permission
        android:name="com.generict.shoppingwithfriends"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.generict.shoppingwithfriends" />

    <permission
        android:name="com.generict.shoppingwithfriends.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.generict.shoppingwithfriends.permission.C2D_MESSAGE" />

    <application
        android:name=".ShoppingWithFriendsApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".LoginRegistrationActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".LoginPageActivity"
            android:label="@string/title_activity_login_page" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".UsersListActivity"
            android:label="UsersListActivity" >
        </activity>
        <activity
            android:name=".FriendsListActivity"
            android:label="FriendsListActivity" >
        </activity>
        <activity
            android:name=".ApplicationHomeActivity"
            android:label="@string/title_activity_application_home" >
        </activity>
        <activity
            android:name=".RegistrationPageActivity"
            android:label="@string/title_activity_registration_page" >
        </activity>
        <activity
            android:name=".WishListActivity"
            android:label="@string/title_activity_wish_list" >
        </activity>
        <activity
            android:name=".AddToWishListActivity"
            android:label="@string/title_activity_add_to_wish_list" >
        </activity>
        <activity
            android:name=".PostSalesReportActivity"
            android:label="@string/title_activity_post_sales_report" >
        </activity>
        <activity
            android:name=".ViewNotificationsActivity"
            android:label="@string/title_activity_view_notifications" >
        </activity>
        <activity
            android:name=".MapsActivity"
            android:label="@string/title_activity_maps" >
        </activity>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyDjoXmjGwjwes5s6BLTWUDdIOZmllmKxJs" />

        <!-- PUSH NOTIFICATION STUFF -->
        <service android:name="com.parse.PushService" />

        <receiver android:name="com.parse.ParseBroadcastReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.USER_PRESENT" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.parse.ParsePushBroadcastReceiver"
            android:exported="false" >
            <intent-filter>
                <action android:name="com.parse.push.intent.RECEIVE" />
                <action android:name="com.parse.push.intent.DELETE" />
                <action android:name="com.parse.push.intent.OPEN" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.parse.GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />

                <category android:name="com.generict.shoppingwithfriends" />
            </intent-filter>
        </receiver>

        <meta-data
            android:name="com.parse.push.notification_icon"
            android:resource="@drawable/shopping" />

        <activity
            android:name=".ForgotPasswordActivity"
            android:label="@string/title_activity_forgot_password" >
        </activity>
        <activity
            android:name=".TutorialActivity"
            android:label="@string/title_activity_tutorial" >
        </activity>
    </application>

</manifest>
